@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2? família = Bebas + Neue & display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #FFD83D;
}

#logo {
    display: flex;
    
    height: 35px;
}

#telefoneImg {
    height: 25px;
}

#telefone {
    display: flex;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    gap: 10px;
}

#emailImg {
    height: 25px;
}

#email {
    display: flex;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    gap: 10px;
}

.rede {
    height: 25px;
}

.container {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #000000;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

li {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    transition: .1s;
    text-align: center;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
}

li:hover {
    color: #000000;
    background-color: #FFD83D;
    border: 10px solid #FFD83D;
    margin: 0;
}

#banner {
    background-image: url('https://static.ndmais.com.br/2021/08/istock-1205975744.jpg');
    background-position: 50% 20%;
    background-size: cover;
    width: 100%;
    height: 875px;
}

main {
    display: flex;
    align-items: center;
}

.container-main {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(155,155,155,1) 100%);
    height: 600px;
    width: 700px;
    opacity: 0.5;
    border-radius: 50px;
    position: absolute;
}

.text {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 130px;
}

#text1 {
    text-align: center;
    color: #000000;
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
}

#text2 {
    text-align: center;
    color: #FFD83D;
    font-size: 170px;
    font-family: 'Bebas Neue', sans-serif;
}

#text3 {
    text-align: center;
    color: #FF001C;
    -webkit-text-stroke: 1px #FFF;
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
}
